body
{

}
.header
{
	background: #48649F;
}
.img_logo
{
	width: 200px;
}
.titulo_pag
{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
.menu
{
	text-align: center;
	background: #DBDAD8;
}
.menu ul
{
	padding: 0;
	margin: 0;
}
.menu ul li
{
	display: inline-block;
	list-style: none;
}
.menu ul li a
{
	padding: 10px;
	display: inline-block;
	margin: 0;
	color: #16210B;
	text-decoration: none;
	font-weight: bold;
}
.menu ul li a:hover
{
	background: #AAAAAB;
}

.titulo_g
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.center
{
	text-align: center;
}
.titulo_op
{
	background: #C03E33;
	border-radius: 10px 10px 0 0;
	padding: 20px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.titulo_op img
{
	width: 30px;
	display: inline-block;
}

.menu-secundario
{
	text-align: center;
	padding: 0;
}
.menu-secundario li
{
	list-style: none;
}
.menu-secundario li a
{
	text-decoration: none;
	padding: 5px;
	display: inline-block;
	color: #3B9CD8;
}
.menu-secundario li a:hover
{
	color: #48649F;
	text-decoration: underline;
}
.label label
{
	margin-top: 10px;
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
}
.input input,
.combobox select,
.input-buscar input
{
	font-size: 18px;
 	color: #8e8d8d;
  	font-family: "Droid Sans";
  	padding: 11px 0 10px 5px;
  	background-color: #fdfdfd;
  	width: 255px;
  	border: 1px solid #d8d8d8;
  	margin: 13px 0 -3px 0;
  	border-radius: 3px;
  	box-shadow: inset 2px 2px 4px #f1f1f1;
}
.center_form
{
	text-align: center;
}
.button input
{
	padding: 10px 90px;
	margin: 25px 0;
}
.input-buscar input
{	
	width: 500px;

}

.list
{
	text-align: center;
}
.list p
{
	display: inline-block;
	padding: 15px 0;
	width: 13%;
	border: 2px solid black;
	font-weight: bold;
}
.list_cliente
{
	text-align: center;
}
.list_cliente p
{
	padding: 5px 0;
	display: inline-block;
	width: 13%;
}